<div>
  {% for entity_type in entity_type_list %}
    <div>
      <a href="{{ path('simple_entity_diff.list.entities', {'entity_type':entity_type.id}) }}">{{ entity_type.id }} : {{ entity_type.class }}</a>
    </div>
  {% endfor %}
</div>
