<div>
  {% for entity in entity_list %}
    <div>
      <a href="{{ path('simple_entity_diff.list.revisions', {'entity_type':entity.type, 'entity_id':entity.id}) }}">{{ entity.id }} : {{ entity.name }}</a>
    </div>
  {% endfor %}
</div>
