<table>
    <tr>
        <td>Field</td>
        <td>Entity {{ rev_a_number }}</td>
        <td>Entity {{ rev_b_number }}</td>
    </tr>
    {% for key in field_list %}
        {% set status = 0 %}
        {% if rev_a[key].0.value != rev_b[key].0.value %}
            {% set status = 1 %}
        {% endif %}
        <tr {% if status is same as(1) %} style="background-color: lightcoral" {% endif %}>
            <td>{{ key }}</td>
            <td>{{ rev_a[key].0.value }}</td>
            <td>{{ rev_b[key].0.value }}</td>
        </tr>
    {% endfor %}
</table>
